<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
	<connectionStrings>
		<add name="BOR" connectionString="server=10.10.1.120;database=CRRB_Service;uid=sa;password=@@P@ssw0rdBOR;" />
		<add name="CRRB_ServiceContext" connectionString="server=10.10.1.120;database=CRRB_Service;uid=sa;password=@@P@ssw0rdBOR;" providerName="System.Data.SqlClient" />
		<add name="CRA00" connectionString="server=10.9.1.80;database=CRA00;uid=TS;password=#0TS@Slm;" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
	<system.serviceModel>
		<client>
   <endpoint address="http://10.10.1.116/QR/QRGenerator.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IQRGenerator" contract="QRGenerator.IQRGenerator"
    name="BasicHttpBinding_IQRGenerator" />
   <endpoint address="http://10.10.1.100/MobWS/Mob.asmx" binding="basicHttpBinding"
    bindingConfiguration="MobSoap" contract="MOB.MobSoap" name="MobSoap" />
  </client>
  <bindings>
   <basicHttpBinding>
    <binding name="basicHttpBinding" allowCookies="true" maxBufferPoolSize="2147483647"
     maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
     <readerQuotas maxDepth="100" maxStringContentLength="2147483647"
      maxArrayLength="2147483647" />
    </binding>
    <binding name="BasicHttpBinding_IQRGenerator" />
    <binding name="MobSoap" />
   </basicHttpBinding>
  </bindings>
		<services>
			<!--//<service name="BOR ITDAPortalServices.Services.SubmitDocument.SubmitDocumentService">-->
			<service name="BOR_WS.Services.AddRequest.AddRequest">
				<endpoint address=""
        binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
        contract="BOR_WS.Services.AddRequest.IAddRequest" >
				</endpoint>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" />
			<bindingRedirect oldVersion="4.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
		</dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	
</configuration>
