<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="BOR" connectionString="server=10.10.1.120;database=CRRB_Service;uid=sa;password=@@P@ssw0rdBOR;" />
		<!--<add name="CRA00" connectionString="server=15.6.1.80;database=CRA00;uid=TS;password=#0TS@Slm;" />-->
		<add name="CRA00" connectionString="server=10.6.1.91;database=CraMService;uid=sa;password=P@ssw0rd;" />
	</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" />
			<bindingRedirect oldVersion="4.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
		</dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
